.Preview {
    top: 0;
    bottom: 20;
    left: 65vw;
    margin-top: 0;
}

.Preview-board {
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: white 0px 5px 15px;
    display: grid;
    grid-gap: 2px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 8vw;
    height: 8vw;
    margin-top: 20px;
    margin-bottom: 100px;
}